/* 
    styles/style.css
    Isaac Odrosky
    06/29/2022
*/

/* CUSTOM VARIABLES */

:root {
  --dark-green: #049b14;
  --light-green: #00e749;
  --light-grey: #c2c2c2;
  --dark-grey: #454545;
  --mdark-grey: #272727;
  --xdark-grey: #161616;
}

/* RESET STYLES, SET GENERAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--light-green);
}

li {
  list-style: none;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #000;
}

/* HEADER STYLES */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 1%;
  margin-top: 1%;
}

.header-logo {
  max-width: 70%;
}

/* NAV STYLES */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 30px;
  border-bottom: 2px solid #000;
}

.nav-link:hover {
  border-bottom: 2px solid var(--light-green);
}

.nav-link a {
  color: var(--light-grey);
}

.nav-link:hover a {
  color: var(--light-green);
}

/* styling for dropdown menu */
.dropdown {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 30px;
  border-bottom: 2px solid #000;
}

.dropdown > a {
  color: var(--light-grey);
}

.dropdown:hover {
  border-bottom: 2px solid var(--light-green);
}

.dropdown-content {
  position: absolute;
  top: 105%;
  left: 0;
  text-align: left;
  background-color: var(--mdark-grey);
  padding: 10%;
  display: none;
  z-index: 1000;
}

.dropdown-content a {
  color: var(--light-grey);
  font-size: 1.3rem;
  display: block;
  margin: 12% 5%;
}

.dropdown-content a:hover {
  color: var(--light-green);
  text-decoration: underline;
}

/* show dropdown menu when hover on services tab */
.dropdown:hover .dropdown-content {
  display: block;
}


/* ------
  INDEX
------- */

.hero-container {
  position: relative;
}

.heroimg {
  width: 100%;
}

.herotext {
  position: absolute;
  z-index: 999;
  top: 15%;
  left: 10%;
}

.hero-h1 {
  font-family: "Rokkitt", serif;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 3.3rem;
}

.hero-h1-span {
  color: var(--light-green);
}

.hero-p {
  width: 40%;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 1% 0 2% 0;
  line-height: 1.8rem;
}

.hero-btn {
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  background-color: var(--light-green);
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.hero-btn:hover {
  background-color: var(--dark-green);
}

/* INFO CONTAINER STYLES */

.info-container {
  padding: 1.5%;
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  text-decoration: underline;
}

.info-container h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.info-container:hover h2 {
  text-decoration: underline;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* set 2 col grid display for sale and review containers */

.twocol-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* SALE CONTAINER STYLES */

.sale-container {
  margin: 3% 0;
  padding: 5%;
  text-align: center;
  border-right: 1px solid var(--dark-green);
}

.sale-img {
  width: 55%;
  float: left;
}

.sale-container h2 {
  font-family: "Rokkitt", serif;
  color: var(--light-grey);
  font-size: 2.7rem;
  margin-top: 60px;
  margin-bottom: 20px;
  line-height: 2.5rem;
}

.sale-container h2 span {
  font-size: 3rem;
  color: var(--light-green);
}

.sale-container a {
  padding: 2%;
  background-color: var(--light-green);
  color: black;
  border-radius: 5px;
}

.sale-container a:hover {
  background-color: var(--dark-green);
}

.sale-container p {
  color: var(--light-grey);
  font-size: 0.7rem;
  clear: left;
  padding-top: 25px;
}

/* REVIEW CONTAINER STYLES */

.review-container {
  margin: 3% 0;
  border-left: 1px solid var(--dark-green);
}

.review-h2 {
  color: var(--light-grey);
  font-family: "Rokkitt", serif;
  text-align: center;
  margin: 10px;
}

.customer-container {
  display: flex;
  align-items: center;
  padding: 1%;
  margin: 25px;
  border-radius: 50vh;
}

.customer-img {
  border-radius: 50%;
  max-width: 90px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 2%;
}

.cust-quote {
  font-size: 1.1rem;
  color: black;
  line-height: 1.5rem;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.cust-quote span {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Rokkitt", serif;
}

.cust1-container,
.cust3-container {
  padding-right: 40px;
  background-image: linear-gradient(
    -90deg,
    var(--light-green),
    var(--dark-green)
  );
}

/* center customer review right-aligned */

.cust2-container {
  flex-direction: row-reverse;
  padding-left: 40px;
  background-image: linear-gradient(
    90deg,
    var(--light-green),
    var(--dark-green)
  );
}

.cust-quote-r {
  text-align: right;
}

/* BENEFIT CONTAINER STYLES */

.benefit-container {
  width: 100%;
  padding: 3%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.benefit-icon {
  font-size: 4rem;
  margin-bottom: 10px;
}

.benefit-container h3 {
  font-family: "Rokkitt", serif;
  font-size: 2.3rem;
}

.benefit-container p {
  color: var(--light-grey);
  line-height: 1.8rem;
  padding: 0 20px;
  font-size: 1.1rem;
}

.benefit-container a {
  color: var(--light-green);
}

.benefit-container a:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

/* FOOTER STYLES */

footer {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 2px solid var(--dark-green);
}

footer p {
  font-size: 1.2rem;
  margin-right: 8px;
}

footer a {
  margin-top: 5px;
  padding: 5px;
  font-size: 1.3rem;
}

footer a:hover {
  color: #fff;
}

/* --------
  CONTACT
--------- */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5% 2%;
}

.contact-container h2 {
  font-size: 2.5rem;
  margin-bottom: 2%;
  color: var(--light-green);
  font-family: "Rokkitt", serif;
  text-decoration: underline;
}

/* visit us styles */
.address-container {
  width: 80%;
  text-align: center;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  background-color: var(--xdark-grey);
}

.address-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.address-text {
  width: 100%;
  padding: 5% 0;
}

.address-container p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.address-container a {
  color: var(--light-grey);
}

.address-container a:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icon {
  padding-top: 3%;
}

.social-icon a {
  font-size: 2.5rem;
  color: var(--light-green);
}

.social-icon a:hover {
  color: var(--dark-green);
  text-decoration: none;
}

/* form styles */
.form-container {
  text-align: center;
  align-self: center;
}

.form-container p {
  font-size: 1.2rem;
}

.form-container input {
  accent-color: var(--light-green);
  margin: 4%;
  background-color: #000;
  border: none;
  border-bottom: 2px solid var(--light-green);
  font-family: inherit;
  font-size: 1.1rem;
  color: var(--light-grey);
  background: var(--xdark-grey);
  padding: 1%;
}

::placeholder {
  font-size: 1.1rem;
  font-family: "Archivo", sans-serif;
  color: var(--light-grey);
}

.no-label {
  display: none;
}

.form-container textarea {
  margin: 2% auto;
  background-color: var(--xdark-grey);
  border: 2px solid var(--light-green);
  font-family: inherit;
  font-size: 1.1rem;
  color: var(--light-grey);
  padding: 1%;
}

.opt-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-container fieldset {
  border: 2px solid var(--light-green);
  margin: 2% auto;
  width: 85%;
  background-color: var(--xdark-grey);
  text-align: left;
}

.form-container legend {
  font-size: 1.1rem;
  color: var(--light-grey);
  margin-bottom: 0;
}

.opt-label {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.opt-input {
  margin: 0;
}

.select-container {
  margin: 1% auto;
  font-size: 1.1rem;
}

.select-container label {
  margin: 3%;
}

.select-container select {
  background-color: var(--xdark-grey);
  color: var(--light-grey);
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid var(--light-green);
  padding: 1%;
  margin: 2%;
}

.submit-btn {
  margin: 3%;
  padding: 1% 2%;
  background-color: var(--light-green);
  color: var(--xdark-grey);
  border: none;
  font-size: 1.3rem;
  border-radius: 8px;
}

.submit-btn:hover {
  background-color: var(--dark-green);
}

/* -----
  ABOUT
----- */

.bio-container {
  margin: 3% 8% 5% 8%;
}

.bio-container h1 {
  font-family: "Rokkitt", serif;
  color: var(--light-green);
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1%;
}

.bio {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: center;
}

.about-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 5%;
}

.about-aside p {
  font-size: 1.7rem;
  line-height: 1.8rem;
  padding: 20px;
  margin: 2% auto;
  text-align: center;
  background-color: rgba(81, 81, 81, 0.4);
  border-radius: 20px;
  font-family: "Rokkitt", serif;
}

.about-links {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  width: 70%;
  justify-content: center;
}

.about-links a {
  margin: 3% 0;
  padding: 5% 4%;
  background-color: var(--light-green);
  color: var(--xdark-grey);
  text-align: center;
  font-size: 1.3rem;
  border-radius: 50vh;
  font-weight: 600;
}

.about-links a:hover {
  background-color: var(--dark-green);
  color: #000;
}

.employee-h2 {
  text-align: center;
  font-family: "Rokkitt", serif;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: underline;
}

.employee-container {
  margin: 0 5% 3% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.emp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3%;
  padding: 30px 25px;
  background-image: linear-gradient(#000, var(--xdark-grey), var(--mdark-grey));
  justify-content: space-between;
}

.emp p {
  text-indent: 20px;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: var(--light-grey);
}

.employee-container img {
  width: 80%;
  border-radius: 50%;
}

.employee-container h2 {
  margin-top: 5%;
  color: var(--light-green);
  font-family: "Rokkitt", serif;
  font-size: 2rem;
}

.emp a {
  text-align: center;
  width: 60%;
  padding: 15px 8px;
  margin: 3% auto;
  background-color: var(--light-green);
  color: var(--xdark-grey);
  border-radius: 50vh;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid var(--light-green);
}

.emp a:hover {
  box-shadow: 5px 5px 10px var(--xdark-grey);
  border: 2px solid var(--dark-green);
}

.map-container {
  display: flex;
  justify-content: center;
  margin: 3% auto;
  width: 90%;
}

/* -------
  REPAIRS
-------- */

.overview-container {
  text-align: center;
  width: 70%;
  margin: 2% auto;
}

.overview-container h1 {
  font-family: "Rokkitt", serif;
  color: var(--light-green);
  font-size: 2.5rem;
  text-decoration: underline;
  margin-bottom: 1%;
}

.overview-container p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.repairs-main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'gridItem1' 'gridItem2';
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.repairs-card-container {
  width: 100%;
  margin: 3% 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-container {
  padding: 4% 5%;
  margin: 5%;
  background-color: var(--xdark-grey);
  border: 4px solid var(--light-green);
  border-radius: 15px;
  box-shadow: -2px 2px 15px rgba(0, 231, 73, 0.6);
}

.details-container .price {
  color: var(--light-green);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1%;
}

.details-container h2 {
  font-size: 2.3rem;
  margin-bottom: 3%;
  font-family: "Rokkitt", serif;
  border-bottom: 2px solid var(--light-grey);
}

.details-container li {
  list-style: disc;
}

.details-container .desc {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.details-container ul {
  margin-top: 2%;
}

.details-container li {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15%;
}

.loan-container {
  background-color: var(--mdark-grey);
  border-radius: 20px;
  text-align: center;
}

.loan-container img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.loan-container h3 {
  margin-top: 7%;
  font-size: 1.5rem;
  text-decoration: underline;
}

.loan-container p {
  padding: 6%;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.repair-link-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10% 4%;
}

.repair-link-container a {
  padding: 5% 1%;
  background-color: var(--light-green);
  color: var(--mdark-grey);
  font-size: 1.2rem;
  margin-bottom: 7%;
  border-radius: 50vh;
  font-weight: 600;
}

.repair-link-container a:hover {
  background-color: var(--dark-green);
}

/* ---------
  FINANCING 
---------- */

.fin-container {
  margin: 2% 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.fin-h1 {
  font-family: "Rokkitt", serif;
  color: var(--light-green);
  font-size: 2.5rem;
  text-decoration: underline;
  margin-bottom: 2%;
  text-align: center;
}

.donation-container {
  text-align: center;
  background-color: var(--mdark-grey);
  margin-right: 10%;
  border-radius: 20px;
}

.donation-container img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.donation-text {
  padding: 5%;
}

.donation-text h2 {
  font-family: "Rokkitt", serif;
  font-size: 1.8rem;
  color: var(--light-green);
  margin-bottom: 2%;
}

.donation-text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.donation-text a {
  color: var(--light-green);
}

.donation-text a:hover {
  color: var(--light-grey);
  text-decoration: underline;
}

.fin-main-container {
  text-align: center;
}

.fin-main-container h2 {
  font-family: "Rokkitt", serif;
  font-size: 2.8rem;
}

.fin-main-container p {
  margin: 1% 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.fin-main-container span {
  font-weight: 600;
}

.fin-links {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.fin-links a {
  background-color: var(--light-green);
  color: var(--mdark-grey);
  border: 2px solid var(--light-green);
  font-size: 1.1rem;
  margin-top: 5%;
  padding: 2% 4%;
  border-radius: 50vh;
}

.fin-links a:hover {
  background-color: var(--xdark-grey);
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

/* ---------
  PRODUCTS
---------- */
.prod-h1 {
  font-family: "Rokkitt", serif;
  color: var(--light-green);
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: center;
  margin-top: 2%;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 2% auto;
}

.prod-card {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
  background-color: var(--mdark-grey);
  border-radius: 30px;
}

.prod-card img {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 20px;
}

.prod-card h2 {
  margin-bottom: 3%;
  font-family: 'Rokkitt', serif;
  font-size: 2rem;
  color: var(--light-green);
}

.prod-card p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 2%;
}

.prod-card a {
  color: var(--light-green);
}

.prod-card a:hover {
  color: var(--light-grey);
  text-decoration: underline;
}

/* -------------
  CUSTOM BUILDS
-------------- */
.custom-desc {
  width: 75%;
  text-align: center;
  margin: 2% auto;
}

.custom-desc h1 {
  font-family: "Rokkitt", serif;
  color: var(--light-green);
  font-size: 2.5rem;
  text-decoration: underline;
  margin-bottom: 1%;
}

.custom-desc p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.custom-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 85%;
  margin: 0 auto 3% auto;
}

.right-container {
  width: 90%;
  align-self: center;
  margin-left: 4%;
  text-align: center;
  background-color: var(--mdark-grey);
  border-radius: 20px;
}

.right-container img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.right-container h3 {
  font-size: 1.3rem;
  margin-top: 4%;
}

.right-container p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: 8%;
  padding-top: 3%;
}

.right-container a:hover {
  color: var(--light-grey);
  text-decoration: underline;
}

.timeline-container {
  margin-right: 5%;
}

.timeline-container h2 {
  color: var(--light-green);
  font-family: 'Rokkitt', serif;
  font-size: 2.5rem;
}

.timeline-container p {
  font-size: 1.2rem;
  padding-left: 25px;
  margin-left: 15px;
  border-left: 5px solid var(--dark-grey);
  line-height: 1.6rem;
}

.step-container {
  margin: 1% auto;
}

.step-container a:hover {
  color: var(--light-grey);
  text-decoration: underline;
}



/* ---------------------- 
    RESPONSIVE STYLES
------------------------ */

/* large tablet/small desktop */
@media only screen and (max-width: 1024px) {
  /* header styles */
  header {
    flex-direction: column;
  }

  .header-logo {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  /* index styles */
  .herotext {
    top: 5%;
  }

  .hero-h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .hero-p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .hero-btn {
    font-size: 1rem;
  }

  .info-container h2 {
    font-size: 1rem;
  }

  .twocol-container {
    grid-template-columns: 1fr;
  }

  .sale-container {
    width: 80%;
    margin: 0 auto;
    border-right: none;
    border-bottom: 2px solid var(--dark-green);
  }

  .sale-container h2 {
    margin-top: 40px;
    font-size: 2.3rem;
  }

  .sale-container h2 span {
    font-size: 2.3rem;
  }

  .sale-container a {
    font-size: 1rem;
  }

  .sale-img {
    width: 50%;
  }

  .review-container {
    display: none;
  }

  .benefit-container {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .benefit-container div {
    margin: 15px auto;
  }

  /* contact styles */
  .contact-container {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }

  .form-container {
    order: 1;
    margin: 5% auto;
    padding-bottom: 5%;
    border-bottom: 10px dashed var(--dark-grey);
  }

  .form-container p {
    width: 80%;
    margin: 2% auto;
  }

  .address-container {
    order: 2;
    margin: 5% auto;
  }

  .contact-container textarea {
    width: 80%;
  }

  .opt-container {
    grid-template-columns: 1fr;
  }

  /* about us styles */
  .about-links {
    width: 90%;
    margin-left: 5%;
  }

  .employee-container {
    grid-template-columns: 1fr 1fr;
  }

  .emp-one {
    grid-column: 1 / span 2;
  }

  .emp-one img {
    width: 30%;
  }

  /* repair styles */
  .repairs-container {
    width: 85%;
  }

  .repairs-main-container {
    grid-template-columns: 1fr;
  }

  .left-container {
    grid-area: gridItem2;
    margin-top: 10%;
  }

  .repairs-card-container {
    grid-area: gridItem1;
    margin: 0 auto;
  }



  /* financing styles */
  .fin-links {
    flex-direction: column;
  }
}

/* tablets/lg mobile */
@media only screen and (max-width: 768px) {
  /* index styles */
  .herotext {
    top: 15%;
  }

  .hero-h1 {
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: 1.8rem;
  }

  .hero-p {
    display: none;
  }

  .hero-btn {
    padding: 2.5%;
  }

  /* about us styles */

  .about-aside {
    grid-template-columns: 1fr;
    border-bottom: solid 2px var(--light-grey);
  }

  .employee-container {
    grid-template-columns: 1fr;
  }

  .emp-one {
    grid-column: 1;
  }

  .emp img {
    width: 45%;
  }

  .emp a {
    display: none;
  }

  /* repair styles */
  .repairs-container {
    grid-template-columns: 1fr;
  }



  /* financing styles */
  .fin-container {
    grid-template-columns: 1fr;
    margin-bottom: 5%;
  }

  .donation-container {
    margin-right: 0;
    margin-bottom: 6%;
  }

  /* products styles */
  .products-container {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .prod-card {
    margin: 4% auto;
  }

  .custom-grid-container {
    grid-template-columns: 1fr;
  }

  .right-container {
    margin-top: 7%;
  }
}

/* mobile */
@media only screen and (max-width: 480px) {
  /* global styles */
  nav {
    width: 100%;
    padding: 0 5%;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0;
  }

  .header {
    flex-direction: row;
  }

  /* index styles */
  .hero-container {
    border-bottom: 8px solid var(--mdark-grey);
  }

  .info-container {
    display: none;
  }

  .sale-container h2 {
    line-height: 1.8rem;
  }

  .sale-container img {
    float: none;
    width: 60%;
  }

  /* about us styles */

  .bio-container h1 {
    font-size: 2.5rem;
  }

  .bio {
    font-size: 1.2rem;
  }

  .employee-h2 {
    font-size: 2.1rem;
  }

  .emp img {
    width: 70%;
  }
}
